version: "3.8"

services:
  php:
    container_name: tic_tac_toe_php
    build:
      context: ./docker/php
    expose:
      - '9000'
    volumes:
      - .:/var/www/html/
    depends_on:
      - mongodb
  nginx:
    container_name: tic_tac_toe_nginx
    image: nginx:stable-alpine
    ports:
      - '8000:8000'
    volumes:
      - .:/var/www/html/
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    environment:
      - MYSQL_DATABASE=tic_tac_toe_db
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=password
      - MYSQL_HOST=db
    depends_on:
      - db
  db:
    container_name: tic_tac_toe_db
    image: mysql:5.7
    command: ['--default-authentication-plugin=mysql_native_password']
    build:
      context: ./docker/mysql
      dockerfile: Dockerfile
    ports:
      - 13306:3306
    restart: always
    environment:
      - MYSQL_DATABASE=tic_tac_toe_db
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=password
    volumes:

        #- ./docker/mysql/sql-scripts/:/docker-entrypoint-initdb.d/:rw
        - ./docker/mysql/my.cnf:/etc/mysql/my.cnf
        - ./docker/my-db:/var/lib/mysql/:rw
        - ./docker/mysql/sql-scripts/init.sql:/docker-entrypoint-initdb.d/1-init.sql

volumes:
  my-db: { driver: local }
